
// set your Dark colors here
$siteBgColorDark: #202A32;
  $sidebarBgColorDark: #1A3537;
  $textColorDark: #D4C2C9;
  $sidebarTextColorDark: #361F27;
  
  $headlineColorDark: #516DB0;
  $headingColorDark: #516DB0;
  
  $bodyLinkColorDark: #5AC4BB;
  $navLinkColorDark: #5AC4BB;
  $sidebarLinkColorDark: #516DB0;
  
  $footerTextColorDark: #D4C2C9;
  
  $buttonTextColorDark: #441C36;
  $buttonHoverTextColorDark: #521945;
  $buttonBgColorDark: #2AA198;
  $buttonHoverBgColorDark: #441C36;
  $borderColorDark: #516DB0;
  
  

// set your custom colors here
$siteBgColorCustom: #EAF2EF;
$sidebarBgColorCustom: #D4C2C9;
$textColorCustom: #441C36;
$sidebarTextColorCustom: #361F27;

$headlineColorCustom: #516DB0;
$headingColorCustom: #516DB0;

$bodyLinkColorCustom: #002B36;
$navLinkColorCustom: #002B36;
$sidebarLinkColorCustom: #516DB0;

$footerTextColorCustom: #002b36;

$buttonTextColorCustom: #EAF2EF;
$buttonHoverTextColorCustom: #D4C2C9;
$buttonBgColorCustom: #2AA198;
$buttonHoverBgColorCustom: #EAF2EF;
$borderColorCustom: #516DB0;
